* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
.btn {
    color: #17A2B8;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    font-family: "Robboto", serif;
}

a:hover,
.btn {
    color: #000;
}

.btn {
    color: #fff;
    background: #745B86;
    border: 0;
    border-bottom: 2px solid rgba(10, 10, 10, 0.1);
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 25px;
}

.btn:hover {
    background: #17A2B8;
}

.btn i {
    margin-right: 15px;
}

.bg-transparent {
    border: 2px solid #745B86;
    color: #1A242D;
    font-weight: 400 !important;
}

.bg-transparent:hover {
    border: 2px solid #fff;
    color: #fff;
}

.bg-transparent2 {
    background: #fff;
    border: 2px solid #745B86;
    color: #1A242D;
    font-weight: 400 !important;
}

.bg-transparent2:hover {
    background: #fff;
    border: 2px solid #17A2B8;
    color: #17A2B8 !important;
}

.transparent {
    color: #1A242D !important;
    font-weight: 800 !important;
}

/*.transparent:hover {
    color: #fff !important;
}*/

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

html {
    -webkit-scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

body {
    font-family: "Merriweather", serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 7s ease-out;
    transition-property: color, background-color;
    transition-duration: 10s;
}

section h3 {
    color: #fff;
    font-size: 30px;
}

.author {
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 5px;
    width: 100%;
}

.main-title {
    font-family: "Roboto", Sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 5px;
    width: 100%;
}

.main-subtitle {
    color: #fff !important;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2px;
}

.section-title {
    left: 10%;
    position: relative;
    text-align: left;
}

.heading-title {
    font-family: "Josefin Sans", Sans-serif;
    font-size: 13.2px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.4em;
    letter-spacing: 1.2px;
}

.description {
    color: #c6c6c6;
    font-family: 'Lora', Sans-serif;
    font-size: 15px;
    line-height: 28px;
}

.title {
    color: #fff !important;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2px;
    left: -10%;
    position: absolute;
}

.subtitle {
    color: #242937 !important;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2px;
    /*position: absolute;*/
}

/*.section-title {
    font-family: Merriweather;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}*/

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

.textBTN {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

/*button {
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 10vw;
    font-size: 2vw;
    width: 100vw;
    border: none;
    background-color: white;
    position: fixed;
    right: 5px;
    top: 5px;
    transition: transform .5s;

    outline: none;
    transform: scale(0);
    transform: rotate(360deg);
}*/

.top {
    transition: all 10s ease-out;
    position: relative;
    z-index: 1;
}

.top a {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    bottom: 5%;
    right: 3%;
    position: fixed;
}

.top a:hover {
    transform: scale(1.3);
}

.top .fa-arrow-alt-to-top:before {
    content: "\f34d";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header {
    background: #1B2C3C;
    color: #FEDD41;
    position: relative;
    z-index: 3;
}

header .arrow {
    /*display: block;*/
    position: absolute;
    bottom: -3%;
    left: 45.5%;
    /*transform: translate(-50%, -100%);*/
    text-decoration: none;
    z-index: 4;
}

header .fa-arrow-alt-circle-down {
    color: #fff;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
}

header .fa-arrow-alt-circle-down:hover {
    opacity: .5;
}

header .bounce {
    /*border: 2px solid #990000;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-30px);
    }

    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

header>section>.logo {
    color: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 75px;
    height: 75px;
    /*position: absolute;*/
}

header>section>.logo h2 {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
}

header .cover-two {
    background: #222 url(../img/background/22bg.jpg) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 25%;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

@media all and (max-width: 725px) {
    header .cover-two {
        padding-top: 30%;
        padding-bottom: 30%;
    }
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 250.625em;
    height: 100%;
    background-color: transparent;
   /* background-image: linear-gradient(185deg, rgba(0,0,0,0) 0%, #222428 100%);*/
    background-image: linear-gradient(185deg, rgba(0,0,0,0) 0%, #1A242D 101%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

header .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 250.625em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(../img/decorations/clouds.png) 0px 100% repeat-x;
    -webkit-animation: cloudsLoop 80s linear infinite;
    animation: cloudsLoop 80s linear infinite;
    z-index: 3;
}

/*keyframes for clouds start*/
@-webkit-keyframes cloudsLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes cloudsLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
/*keyframes for clouds end*/

.navbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 9;
}

.navbar .active>.nav-link {
    color: #000 !important;
    font-weight: bold;
}

.navbar .nav-item>.nav-link {
    color: #fff;
    padding: 20px 10px;
    font-weight: 200;
}

.navbar .sicon {
    color: #fff;
    padding: 20px 15px;
}

.navbar .sicon:hover {
    transform: scale(1.4);
    transition: all 0.5s ease-out;
}

/* The Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    transform: translateY(-50%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateY(50%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-50%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(50%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}*/

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

/*About Begin*/
.about {
    background: #1A242D;
    /*background: #222;*/
    /*color: #fbdb65;*/
    color: #5D7E9E;
    z-index: 1;
    /*height: 100vh;*/
}

.about h2 {
    color: #745B86;
}

.about .name {
    color: #fff;
}

.about .profession {
    color: #5D7E9E;
}

.about a {
    color: #fff;
}

.about .btn-default {
    color: #fff;
    background-color: rgba(102, 102, 102, 0.32);
}

.about .image-container {
    position: relative;
    background: url(../img/me/colorMe.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 3s all ease-out;
}

.about .color {
    border-style: outset;
    /*border-color: #fbdb65;*/
    background-color: #745B86;
    border-width: 7px;
    outline-offset: -15px;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 3s all ease-out;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about .hover {
    opacity: 0;
    transition: 3s all ease-out;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about .Roman_Matviy {
    border-style: outset;
    border-color: #fbdb65;
    border-width: 7px;
    outline-offset: -15px;
    transition: 3s all;
    /*outline: 3px solid rgba(27, 44, 60, .7);
  outline-offset: -15px;*/
    /*-webkit-filter: blur(5px);*/
    /* Safari 6.0 - 9.0 */
    /*filter: blur(5px);*/
}

.about .black {
    position: absolute;
    top: -471px;
}
/*About End*/

.social {
    position: absolute;
    top: 50%;
    left: 100%;
}

.progress {
    background-color: #ffffff12;
}

/* Cart Begin */
.cart {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

.cart img {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
/* Cart End */

/* Language Begin */
.languages {
    color: #fff;
    /*border-top: 1px solid rgba(255, 255, 255, 0.3);*/
    background: #1A242D;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 50 0;
    background-repeat: no-repeat;
}

.world {
    -webkit-animation: rotation 50s infinite linear;
    animation: rotation 50s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Heart beat animation */
@-webkit-keyframes beat {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes beat {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
/* Language End */

/* Projects Begin */
.projects {
    /*background: #212040;*/
    background: #fff;
    /*color: #fff;*/
    color: #222;
}

.projects h3 {
    color: #222;
}

.projects .head {
    height: 110%;
    position: absolute;
    z-index: 8;
}

.projects .foot {
    height: 50%;
}

.projects .carousel-indicators li {
    border: 1px solid #000;
}

.projects .imgProjectCarousel {
    /*background-position: center;*/
    -webkit-background-size: cover;
    background-size: cover;
    background: url(../img/projects/no-screenshot.png) no-repeat;
    margin-left: 4%;
    z-index: 4;
}

.infoProject {
    position: relative;
}

.infoProject .description b {
    font-weight: bold;
    margin-bottom: 10px;
}

i.screenshot {
    background-color: #745B86;
    border: 4px solid #745B86;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: bold;
    padding: 10px 10px 1px 10px;
    position: relative;
    left: 30px;
    top: 4px;
}

.infoProject .full-screenshot,
.infoProject .small-screenshot {
    /*background: #2b2b2b;*/
    background: #745b86;
    /*width: 95%;*/
    margin: 0 auto;
}

.infoProject .frame {
    position: absolute;
}

.all b,
.first b {
    font-weight: bold;
    font-size: 20px;
}

.imgProject {
    position: relative;
}

.imgProject .desctop {
    width: 73%;
}

.imgProject .frame {
    position: absolute;
    top: 1%;
    left: -2%;
    height: 111%;
}
/* Projects End */

/* Heart beat Begin */
/*.heart {
    font-size: 150px;
    height: 200px;
    width: 200px;
    color: #e00;
    animation: beat .7s infinite alternate;
    transform-origin: center;
}*/

/* Heart beat End */

.intro {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0 15px;
    z-index: 11;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

/*@media all and (max-width:725px) {
    .intro {
        font-size: 4.4rem;
        font-weight: 300
    }
}*/

.portfolio-image a img {
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-image a:hover img {
    opacity: 0.5;
}

/*.icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: #00f;*/
/*opacity: 0.5;
    margin-right: 5px;
}*/

.fab1,
.far1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /*width: 40%;*/
}

.icon:hover {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /*width: 40%;*/
    -ms-transform: scale(1.1);
    --o-transform: scale(1.1);
    transform: scale(1.1);
    --webkit-transform: scale(1.1);
}

.skillset h2 {
    color: #1A242D;
}

.skillset {
    /*background-color: #1a1e23;*/
    /*background: #36243C;*/
    /*background: #2B294D;*/
    /*background: #212040;*/
    /*background-color: #32233A;*/
    background: #433E62;
    /*color: #CC7C7C;*/
    color: #96956F;
}

.progress-bar {
    background: #38354A !important;
}

/* Certificates Begin */
.certificates {
    background: #fff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #d8dadc;
    /*background: #222 url(../img/bg/certificate-bg.jpg) no-repeat center;*/
    -webkit-background-size: cover;
    background-size: cover;
    /*border-top: 1px #000;
    border-style: dotted;*/
    padding-top: 25%;
    padding-bottom: 25%;
}

.certificate {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.certificate:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

.certificate img {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Certificates End */
/* Material Begin */
.materials {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.material {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    padding: 1%;
    /*-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;*/
    transition-property: linear-gradient, color, background-color;
    transition-duration: 10s;
}

.material:hover {
    background-image: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #9fb8ad 75%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.material a {
    color: #006;
}

.material strong:empty {
    display: none;
}

/* Material End */
/*.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}
.progress{
    height: 20px;
    background: #d4d7e6;
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    border-radius: 30px;
    box-shadow: none;
    display: inline;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-bar:before{
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.progress .progress-bar:after{
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #cbcbcb;
    border: 8px solid #000;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: 1;
}
@keyframes animate-positive{
    0%{ width: 0; }
}*/
.progress-bar {
    width: 0;
    display: inline;
    animation: progress 1.5s ease-in-out forwards;
}

.hideBar {
    animation: progress 1.5s ease-in-out forwards;
}

@keyframes progress {

    /*  from {
    width: 100;
  }*/
    to {
        width: 0;
    }
}

.showBar {
    /* width: 0;
  display: inline;
  transition: unset;*/
    animation: progress 1.5s ease-in-out forwards;
}

.showBar .number {
    opacity: 0;
    animation: progress 0.35s forwards ease-in-out 0.5s;
}

@keyframes progress {
    from {
        width: 0;
    }
}
/* Contact Begin */
.contact {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #d8dadc;
    display: block;
    transform: translateY(-2px);
    line-height: 28px;
    line-height: 1.75rem;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
}

.contact a {
    /*color: #C33;*/
    /*color: #745B86;*/
    color: #17A2B8;
    text-decoration: none;
}

.contact a:focus,
.contact a:hover {
    /*color: #b82e2e;*/
    color: #17A2B8;
}

.form__control {
    position: relative;
    max-height: 150px;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
}

.form__input {
    height: 45px;
}

.form__input,
.form__textarea {
    box-sizing: border-box;
    border-radius: 0;
    width: 100%;
    border: 1px solid #000;
    transition: border 0.5s;
    padding: 10px 10px 10px 55px;
    font-size: 16px;
    line-height: 17px;
}

.form__input:focus+.form__label,
.form__textarea:focus+.form__label {
    /*background-color: #C33;*/
    background: #17A2B8;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid #17A2B8;
    outline: none;
}

.form__textarea {
    height: 150px;
    resize: none;
}

.form__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    margin: 0;
    background: #745B86;
    /*background-color: #000;*/
    transition: background-color 0.5s;
}

.form__label svg {
    transform-origin: left top;
    transform: scale(0.75) translateX(-50%) translateY(-50%);
}

.form__label svg,
.menu__content,
.section--outcomes .section__background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

svg:not(:root) {
    overflow: hidden;
}

.form__icon {
    width: 30px;
    height: 30px;
}

svg {
    display: inline-block;
    margin: 0 auto;
}

.form__error {
    display: block;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input[type=email]:required:invalid,
input[type=email]:focus:invalid {
    background: url("http://www.markhillard.com/images/locked.png");
    background-image: url("http://www.markhillard.com/fonts/lock-new.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    box-shadow: none;
}

input[type=email]:required:valid,
input[type=email]:focus:valid {
    background: url("http://www.markhillard.com/images/unlocked.png");
    background-image: url("http://www.markhillard.com/fonts/unlock-new.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 23px 23px;
}

.invalid,
.success,
.error,
.reset {
    display: none;
    float: left;
    margin: 9px 0 0 13px;
    position: absolute;
    top: 360px;
}

.invalid,
.error {
    color: #f5b2b6;
}

.success,
.reset {
    color: #d7f5b2;
}
/* Contact End */

/* Footer Begin */
.footer {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    color: #999;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.65);
    background-color: #1A242D;
    /*background: url(../img/decorations/blackwood.jpg);*/
    -webkit-background-size: contain;
    background-size: contain;
}


.footer a:hover {
    collor: #fff !important;
}

.footer .left,
.footer .center,
.footer .right {
    border: 1px solid #313A42;
    height: 300px;
    text-align: left;
}

.footer .left,
.footer .center {
    border: 1px solid #1A242D;
    height: 300px;
    text-align: left;
}

.footer .left li,
.footer .center li,
.footer .right li {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer .left li:hover,
.footer .center li:hover,
.footer .right li:hover {
    list-style: circle;
}

.footer .heading-title {
    color: #745B86;
    position: absolute;
    top: 25%;
}

.footer .main-subtitle {
    /*border: 1px solid #313A42;*/
    background: #1A242D;
    padding: 0 10px;
    position: absolute;
    top: -23% !important;
    left: 5%;
}

.footer .social-icon {
    background: #fff;
    color: #1A242D;
    /*border: 1px solid #745B86;*/
    border-radius: 50%;
    font-size: 35px;
    margin-right: 10px;
    padding: 20px 25px;
    width: 80px;
    height: 80px;
    opacity: .6;
}

.footer .social-icon:hover {
    opacity: 1;
}

/*.footer .nth-child(3) {
    display: none;
}*/

.footer .copyright {
    background: #313A42;
    color: #999;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
}

.footer .copyright .link {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    opacity: .7;
}

.footer .copyright .link:hover {
    opacity: 1;
}

.footer #map {
    height: 200px;
    width: 98%;
    background-color: #000;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
    transition: transform 0.3s ease-out;
}

/*.footer #map:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    transform: scale(1.01);
    transition: transform 0.3s ease-out;
}*/

/* Footer End */

.skill .btn {
    display: flex;
    align-items: center;
    /*padding: 15px;*/
    /*margin: 10px;*/
    font-size: 18px;
    font-family: "Lato", arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #252525;
    border-radius: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.skill .btn:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

/*body{
    background-color:black;
    animation: image 10s infinite alternate;
    animation: image 10s infinite alternate;
    animation: image 10s infinite alternate;
}

@keyframes image{
    0%{
background-color:blue;
}
25%/{
    background-color:red;
}
50%{
    background-color:green;
}
75%{

    background-color:pink;
}
100%{
    background-color:yellow;
    }
  }*/

.progress {
    color: #000;
}

@media all and (max-width: 991px) {
    content #desc {
        position: absolute;
        top: 10px;
        left: 240px;
    }
}

@media all and (max-width: 368px) {
    content .title img {
        position: relative;
        left: 85px;
    }

    content #desc {
        position: relative;
        top: 0;
        left: 100px;
    }
}

.test {
    margin-top: 10px;
    position: absolute;
    top: 0;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #ffffff12;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ffc107;
}

.circular-chart.green .circle {
    stroke: #28a745;
}

.circular-chart.blue .circle {
    stroke: #007bff;
}

.percentage {
    /*fill: #666;*/
    fill: #b3bc20;
    font-family: sans-serif;
    font-size: 6px;
    text-anchor: middle;
}