<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Roman Matviy, A Front-end Developer from Lviv, Ukraine">
    <meta name="keywords" content="content">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Circle -->
    <link rel="stylesheet" type="text/css" href="css/circle.min.css">
    <!-- Fontawesome CSS-->
    <link rel="stylesheet" type="text/css" href="icon/css/all.css">
    <!-- Fontawesome JS-->
    <!-- <script src="icon/js/all.js" type="text/javascript" charset="utf-8" async defer></script> -->
    <!-- My Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- Animate CSS / JS -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animated-headline.min.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="img/logo/favicon.png">
    <!--  Noscript Begin  -->
    <!-- <script>
        window.scrollBy({
            top: 666,
            behavior: 'smooth'
        });
    </script> -->
    <noscript>
        <style>
            #loader-wrapper,
            #loader-wrapper .loader-section,
            #loader-wrapper .loader-section.section-left,
            #loader-wrapper .loader-section.section-right {
                display: none;
            }
        </style>
    </noscript>
    <!--  Noscript End  -->
    <title>Roman Matviy | A Front-end Developer's Portfolio</title>
</head>

<body>
    <!--  loader-wrapper Begin  -->
    <div id="loader-wrapper">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="intro" style="z-index: 11;">
            <div class="tt-text-intro">
                <h1 class="tt-headline letters rotate-2">
                    <span class="tt-words-wrapper author">
                        <b class="is-visible" style="opacity: 1;"><i class="in"><em>I</em></i><i class="in"><em>'</em></i><i class="in"><em>m</em></i><i class="in"><em>&nbsp;</em></i><i class="in"><em>R</em></i><i class="in"><em>o</em></i><i class="in"><em>m</em></i><i class="in"><em>a</em><em>n</em></i><i class="in"><em>&nbsp;</em></i><i class="in"><em>M</em></i><i class="in"><em>a</em></i><i class="in"><em>t</em><em>v</em><em>i</em><em>y</em></i></b>
                        <b style="opacity: 1;"><i class="out"><em>I</em></i><i class="out"><em>'</em></i><i class="out"><em>m</em></i><i class="out"><em>&nbsp;</em></i><i class="out"><em>F</em></i><i class="out"><em>r</em></i><i class="out"><em>o</em></i><i class="out"><em>m</em></i><i class="out"><em>&nbsp;</em></i><i class="out"><em>U</em></i><i class="out"><em>k</em></i><i class="out"><em>r</em></i><i class="out"><em>a</em></i><i class="out"><em>i</em></i><i class="out"><em>n</em></i><i class="out"><em>e</em></i></b>
                    </span>
                </h1>
            </div>
            <h2 class="main-subtitle center tt-sub-intro">Front-end developer</h2><br>
        </div>
    </div>
    <!--  loader-wrapper End  -->
    <!--  Roman Matviy Begin  -->
    <div id="Roman_Matviy">
        <div class="top">
            <a href="#top"><i class="far fa-arrow-alt-to-top"></i></a>
        </div>
        <!-- Header Begin -->
        <header id="header top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- <a class="navbar-brand logo" href="index.html">
                    <h2>RM</h2>
                </a> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" :href="'https://' + about.site">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><b>About Me</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pdf/Roman.Matviy.CV.pdf"><b>Resume</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skillset">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#certificates">Certificates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#languages">My Languages</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#links">My Links</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#materials">Additional materials</a>
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class="navbar-nav mr-auto">
                        <li class="nav-item" v-for="(social, index) of socials">
                            <a class="nav-link mt-4" :href="social.url"><i :class="social.icon"></i></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
                <a class="nav-link sicon" v-for="(social, index) of socials" :href="social.url" target="_blank"><i :class="social.icon"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <section id="home" class="cover-two">
                <div class="clouds"></div>
                <div class="overlay"></div>
                <div class="intro">
                    <div class="tt-text-intro">
                        <h1 class="tt-headline letters rotate-2">
                            <span class="tt-words-wrapper author" style1="width: 100% !important;">
                                <b class="is-visible" style="opacity: 1;"><i class="in"><em>I</em></i><i class="in"><em>'</em></i><i class="in"><em>m</em></i><i class="in"><em>&nbsp;</em></i><i class="in"><em>R</em></i><i class="in"><em>o</em></i><i class="in"><em>m</em></i><i class="in"><em>a</em><em>n</em></i><i class="in"><em>&nbsp;</em></i><i class="in"><em>M</em></i><i class="in"><em>a</em></i><i class="in"><em>t</em><em>v</em><em>i</em><em>y</em></i></b>
                                <b style="opacity: 1;"><i class="out"><em>I</em></i><i class="out"><em>'</em></i><i class="out"><em>m</em></i><i class="out"><em>&nbsp;</em></i><i class="out"><em>F</em></i><i class="out"><em>r</em></i><i class="out"><em>o</em></i><i class="out"><em>m</em></i><i class="out"><em>&nbsp;</em></i><i class="out"><em>U</em></i><i class="out"><em>k</em></i><i class="out"><em>r</em></i><i class="out"><em>a</em></i><i class="out"><em>i</em></i><i class="out"><em>n</em></i><i class="out"><em>e</em></i></b>
                            </span>
                        </h1>
                    </div>
                    <h2 class="main-subtitle center tt-sub-intro">Front-end developer</h2><br>
                    <a v-if="show" v-on:click="show = !show" class="btn btn-lg textBTN bg-transparent" href="#allProjects">
                        <span style="color: #fff;">
                            <!-- <i class="fas fa-briefcase"></i> -->
                            <!-- <i class="fab fa-buromobelexperte"></i> -->
                            <i class="fas fa-flask"></i>
                            <!-- <i class="fas fa-vial"></i> -->
                            WORK EXPERIENCE
                        </span>
                    </a>
                    <a v-if="!show" v-on:click="show = !show" class="btn btn-lg textBTN bg-transparent" href="mailto:roman@matviy.pp.ua">
                        <span style="color: #fff;">
                            <!-- <i class="fas fa-briefcase"></i> -->
                            <!-- <i class="fab fa-buromobelexperte"></i> -->
                            <!-- <i class="far fa-address-card"></i> -->
                            <!-- <i class="fas fa-vial"></i> -->
                            <i class="fa fa-briefcase"></i>
                            Hire Me
                        </span>
                    </a>
                </div>
            </section>
            <a v-if="show" href="#about" class="arrow bounce  p-5">
                <i class="far fa-arrow-alt-circle-down"></i>
            </a>
            <a v-if="!show" href="#allProjects" class="arrow bounce  p-5">
                <i class="far fa-arrow-alt-circle-down"></i>
            </a>
        </header>
        <!-- Header End -->
        <section class="navigation">
            <div id="allProjects"></div>
        </section>
        <!-- About Begin -->
        <section v-if="show" id="about" class="about pt-5 pb-4">
            <div class="container">
                <!-- <div>
                    <h4 class="heading-title">"The Lights" Cast</h4>
                </div> -->
                <div class="section-title">
                    <h2 class="title wow bounceInRight">About me</h2>
                    <h2 class="subtitle">About</h2>
                </div>
                <div class="abouts" v-for="(aboutMe, index) of abouts">
                    <div class="row">
                        <div class="image-container col-md-5 col-12 mr-md-5 mr-0 mt-md-0 mt-4 wow bounceInRight align-self-center" v-on:click="modalOpen">
                            <img src="img/me/blackMe.jpg" class="mt-3 mb-3 wow bounceInLeft d-block img-fluid Roman_Matviy" alt="Front-end developer Roman Matviy" />
                        </div>
                        <div class="col-md-6 col-12 p-5 align-self-center">
                            <div class="row align-content-center mb-5">
                                <div class="text align-content-center">
                                    <p class="text size inline">
                                        <span>Hello World ;)</span><br>
                                        My name is
                                        <h2 class="name inline">
                                            &nbsp;<span class="wow animated bounceInRight">Roman</span>
                                            &nbsp;<span class="wow animated bounceInLeft">Matviy</span>
                                        </h2><br>
                                        I'm a ukrainian <h3 class="profession inline">front-end web developer</h3> living in <strong>Lviv</strong> city, <strong>Ukraine</strong>.
                                        I have a passion for creating challenging, intuitive and beautiful products. I like to work on the client-side, designing interfaces with CSS and programming awesome experiences with JavaScript.
                                        I can write solid and well-organized code from scratch, and I have a passion for exploring new and emerging web technologies. I ensure that my projects are optimised, responsive, cross-browser compatible and accessible for users and search engines.
                                        Beside that, I like to create stuff with my hands.
                                        <br>
                                        I want to be involved in projects that I can be proud of, join an amazing team and advance my development career. Take some time to look at my projects, credentials and if you're interested in helping me make this happen, <a href="#contact">let's get in touch.</a>
                                    </p>
                                </div>
                            </div>
                            <div class="download-button wow tada">
                                <a class="btn btn-lg textBTN bg-transparent mr-3" href="pdf/Roman.Matviy.CV.pdf">
                                    <i class="fas fa-file-download"></i>
                                    Download CV
                                </a>
                                <a class="btn btn-lg textBTN transparent" href="#contact">
                                    <i class="fa fa-briefcase"></i>
                                    Hire Me
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        <!-- Skillset Begin -->
        <section v-if="show" id="skillset" class="skillset pt-5 pb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight">My Skills</h2>
                    <h2 class="subtitle">Skills</h2>
                </div>
                <div class="row justify-content-around mb-3">
                    <!-- SkillFrontEnd Begin -->
                    <div id="skillFrontEnd" class="col-md-4 col-12">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Front-end</h3>
                        </div>
                        <div class="frontEnds" v-for="(frontEnd, index) of frontEnds">
                            <strong class="text m-2 pb-2">{{ frontEnd.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: frontEnd.num + '%' }" aria-valuenow="frontEnd.num" aria-valuemin="0" aria-valuemax="100" :data-color="frontEnd.num"><b class="number">{{ frontEnd.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillFrontEnd End -->
                    <!-- SkillBackEnd Begin -->
                    <div id="skillBackEnd" class="col-md-4 col-12 mt-4 pt-2">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Back-end</h3>
                        </div>
                        <div class="backEnds" v-for="(backEnd, index) of backEnds">
                            <strong class="text m-2">{{ backEnd.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: backEnd.num + '%' }" aria-valuenow="backEnd.num" aria-valuemin="0" aria-valuemax="100" :data-color="backEnd.num"><b>{{ backEnd.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillBackEnd End -->
                    <!-- SkillFrameworks Begin -->
                    <div id="skillFrameworks" class="col-md-4 col-12">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Framework</h3>
                        </div>
                        <div class="cms" v-for="(framework, index) of frameworks">
                            <strong class="text m-2">{{ framework.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: framework.num + '%' }" aria-valuenow="framework.num" aria-valuemin="0" aria-valuemax="100" :data-color="framework.num"><b>{{ framework.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillFrameworks End -->
                    <!-- Skill Begin -->
                    <div id="skill" class="col-md-4 col-12 mt-5">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Skills</h3>
                        </div>
                        <div class="skills" v-for="(skill, index) of skills">
                            <strong class="text m-2">{{ skill.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: skill.num + '%' }" aria-valuenow="skill.num" aria-valuemin="0" aria-valuemax="100" :data-color="skill.num"><b>{{ skill.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill End -->
                    <!-- SkillTools Begin -->
                    <div id="skillTools" class="col-md-4 col-12 mt-5">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Tools</h3>
                        </div>
                        <div class="tool" v-for="(tool, index) of tools">
                            <strong class="text m-2">{{ tool.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: tool.num + '%' }" aria-valuenow="tool.num" aria-valuemin="0" aria-valuemax="100" :data-color="tool.num"><b>{{ tool.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillTools End -->
                    <!-- SkillProgramms Begin -->
                    <div id="skillProgramms" class="col-md-4 col-12 mt-5">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>Programms</h3>
                        </div>
                        <div class="tool" v-for="(program, index) of programs">
                            <strong class="text m-2">{{ program.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" :style="{ width: program.num + '%' }" aria-valuenow="program.num" aria-valuemin="0" aria-valuemax="100" :data-color="program.num"><b>{{ program.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillProgramms End -->
                    <!-- SkillCMS Begin -->
                    <div id="skillCMS" class="col-md-4 col-12 mt-5">
                        <div class="section-title wow animated fadeInUp mb-3">
                            <h3>CMS</h3>
                        </div>
                        <div class="cms" v-for="(cms, index) of cmss">
                            <strong class="text m-2">{{ cms.name }}</strong>
                            <div class="progress mb-3">
                                <div class="progress-bar pbp" role="progressbar" :style="{ width: cms.num + '%' }" aria-valuenow="cms.num" aria-valuemin="0" aria-valuemax="100" :data-color="cms.num"><b>{{ cms.num }}</b> %</div>
                            </div>
                        </div>
                    </div>
                    <!-- SkillCMS End -->
                </div>
            </div>
        </section>
        <!-- Skillset End -->
        <!-- Languages Begin -->
        <div v-if="show" id="languages" class="languages pt-5 pb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight">My Languages</h2>
                    <h2 class="subtitle">Languages</h2>
                </div>
                <div class="row justify-content-around">
                    <div class="col-lg-2 col-md-7 col-7 mt-lg-0 mt-md-4">
                        <img src="img/languages/bg2.png" alt="world languages" class="img-fluid world" />
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 single-chart language" v-for="(language, index) of languages">
                        <svg viewBox="0 0 36 36" class="circular-chart" :circle-color="language.num">
                            <path class="circle-bg" d="M18 2.0845
                                         a 15.9155 15.9155 0 0 1 0 31.831
                                         a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path class="circle" :stroke-dasharray="language.num + ', 100'" d="M18 2.0845
                                         a 15.9155 15.9155 0 0 1 0 31.831
                                         a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <text x="18" y="20.35" class="percentage">{{ language.name }}</text>
                            <!-- <h3 class="align-content-end">{{ language.num }}%</h3> -->
                            <h4>{{ language.level }}</h4>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="languages">
            <div class="row justify-content-center mb-3">
                <div class="language col-lg-2 col-md-12 col-sm-11 col-12" v-for="(language, index) of languages">
                    <div :class="'c100 p' + language.num + ' dark'" :data-color="language.num">
                        <span style="color: #fff">{{ language.num }}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <strong class="m-2">{{ language.name }}</strong>
                </div>
            </div>
        </div> -->
        <!-- Languages End -->
        <!-- Projects Begin -->
        <section v-if="show" id="projects" class="projects pt-5 pb-3 mb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight" style="color: #242937 !important;">My Projects</h2>
                    <h2 class="subtitle" style="color: #F8F8F8 !important;">Projects</h2>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div id="carouselExampleIndicators" class="col-xl-6 col-lg-7 col-md-8 col-sm-10 col-11 carousel sliderProject1" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li v-for="(project, index) in projects" data-target="#carouselExampleIndicators" :data-slide-to="index" @click="selectProject(index)" :class="'project-' + index " :class="{'active': selectedProjectIndex === index}" :placeholder="project.name">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <img src="img/desctop/head.png" alt="head" class="head d-block w-100" />
                            <div :class="'carousel-item ' + project.active" v-for="(project, index) of projects">
                                <div class="imgProjectCarousel">
                                    <img :src="'img/projects/' + project.url + '/thumbs/screen.png'" :alt="project.name" class="d-block w-100 mt-md-3 mt-sm-2 mt-2 pt-2" />
                                </div>
                                <!-- <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ project.name }}</h5>
                                    <p>{{ index + 1 }}</p>
                                </div> -->
                            </div>
                        </div>
                        <!-- Buttons Prev&Next Begin -->
                        <a style="font-size: 30px;font-weight: bold;left: -100px;color: #000;margin-right: 90%;width: 10%;text-transform: uppercase" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" @click="selectProject(index-1)">
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span> -->
                            Prev
                        </a>
                        <a style="font-size: 30px;font-weight: bold;left: 100px;color: #000;margin-left: 90%;width: 10%;text-transform: uppercase" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" @click="selectProject(index+1)">
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span> -->
                            Next
                        </a>
                        <!-- Buttons Prev&Next End -->
                        <div class="w-100"></div>
                    </div>
                    <div class="w-100"></div>
                    <img src="img/desctop/foot.png" alt="foot" class="foot col-xl-6 col-lg-7 col-md-8 col-sm-10 col-11 d-block w-100" />
                    <div class="w-100"></div>
                    <!-- infoProject Begin -->
                    <div class="infoProject">
                        <h3 class="section-title wow animated fadeInUp ml-3">Information about this project</h3>
                        <div class="row justify-content-around">
                            <div class="col-lg-6 col-md-5 col-sm-8 p-xl-5 p-lg-5 p-md-0 p-sm-3 p-3 mt-5">
                                <i class="heading-title screenshot">Full screenshot</i>
                                <img style="width: 100%" :src="'img/projects/' + project.url + '/thumbs/full-screen.png'" :alt="project.name" class="full-screenshot img-fluid p-1">
                            </div>
                            <div class="text description col-lg-6 col-md-5 col-sm-10 col-11 p-md-2 p-sm-3 p-3">
                                <b>Project completion date:</b> <time pubdate :datetime="project.date">{{ project.date }}</time>
                                <br><br>
                                <b>Project Name:</b> <a :href="'http://' + project.url" class="pl-3">
                                    <h3 class="display: d-inline-block">{{ project.name }}</h3>
                                </a>
                                <br>
                                <b>URL:</b> <a :href="'http://' + project.url">http://{{ project.url }}</a>
                                <br>
                                <b>Source:</b> <a :href="project.github">GitHub.com</a>
                                <br>
                                <b>Description:</b> {{ project.desc }}
                                <br><br>
                                <b>The use of technology:</b>
                                <h3 class="mt-3 ml-4">{{ project.skills }}</h3>
                                <div class="w-100 mt-5"></div>
                                <i class="heading-title screenshot">Small screenshot</i>
                                <img style="width: 100%" :src="'img/projects/' + project.url + '/thumbs/screen.png'" :alt="project.name" class="desctop small-screenshot img-fluid p-1" />

                                <!-- <img :src="'img/projects/' + project.url + '/screen.png'" :alt="project.name" class="desctop small-screenshot img-fluid col-9 ml-5 mt-3 pt-1" />
                                <div class="imgProject m-5">
                                    <img :src="'img/projects/' + project.url + '/screen.png'" :alt="project.name" class="desctop img-fluid col-9 ml-5 mt-3 pt-1" />
                                    <div class="w-100"></div>
                                    <img src="img/desctop/5.png" class="frame img-fluid d-block w-100 col-11 pt-1" :alt="project.name" />
                                </div> -->

                            </div>
                        </div>
                    </div>
                    <!-- infoProject End -->
                </div>
                <div class="text row justify-content-around">
                    <!-- <form action="https://www.w3docs.com/" method="get" v-on:click="show = !show">
                        <button type="submit">Click me</button>
                    </form> -->
                    <!-- <form action="https://www.w3docs.com/" v-on:click="show = !show">
                        <button type="submit">Click me</button>
                    </form> -->
                    <!-- <form>
                        <button type="submit" formaction="/index.html#allProjects" v-on:click="show = !show">Click me</button>
                    </form> -->
                    <a class="btn btn-lg textBTN transparent" href="#allProjects" v-on:click="show = !show">
                        <span style="color: #fff;">
                            <i class="far fa-list-alt"></i>
                            View all projects
                        </span>
                    </a>
                    <div class="all ml-5">
                        <b>All projects: </b>{{ projects.length }}
                    </div>
                    <div class="first">
                        <b>The first project is over:</b> 24 Sep 2018
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects End -->
        <!-- All Projects Begin -->
        <section v-if="!show" id="allProjects" class="projects pt-5 pb-3 mb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight" style="color: #242937 !important;">All Projects</h2>
                    <h2 class="subtitle" style="color: #F8F8F8 !important;">Projects</h2>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="cart1 project col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 m-2  list-group-item list-group-item-action" v-for="(project, index) of projects">
                        <a :href="'http://' + project.url">
                            <img :src="'img/projects/' + project.url + '/screen.png'" :alt="project.name" class="d-block w-100 mt-3 mb-2 pt-1" />
                            <h2>{{ project.name }}</h2>
                            <div class="url">
                                <a :href="'http://' + project.url">{{ project.url }}</a>
                                <br>
                                <a :href="project.github">Source</a>
                            </div>
                            <!-- <div class="description">{{ project.desc }}</div> -->
                            <div class="date">{{ project.date }}</div>
                            <div class="project-skills">{{ project.skills }}</div>
                        </a>
                    </div>
                </div>
                <div class="text row justify-content-around" style="color: #000">
                    <a v-on:click="show = !show" class="btn btn-lg textBTN bg-transparent2" href="#top">
                        <span style="color: #745B86;">
                            <i class="fas fa-home" style="color: #745B86;"></i>
                            Go to home
                        </span>
                    </a>
                    <a v-on:click="show = !show" class="btn btn-lg textBTN transparent" href="mailto:roman@matviy.pp.ua">
                        <span style="color: #fff;">
                            <i class="fa fa-briefcase"></i>
                            Hire Me
                        </span>
                    </a>
                    <div class="all ml-5">
                        <b>All projects: </b>{{ projects.length }}
                    </div>
                    <div class="first">
                        <b>The first project is over:</b> 24 Sep 2018
                    </div>
                </div>
            </div>
        </section>
        <!-- All Projects End -->
        <!-- Certificates Begin -->
        <section v-if="show" id="certificates" class="certificates pt-5 pb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight" style="color: #242937 !important;">My Certificates</h2>
                    <h2 class="subtitle" style="color: #F8F8F8 !important;">Certificates</h2>
                </div>
                <div class="row justify-content-around mb-3">
                    <div v-for="(certificate, index) of certificates" :href="'certificate/PDF/cert-' + certificate.license + '.pdf'" class="text certificate col-sm-5 col-11 mb-5 p-3">
                        <!-- <a :href="'certificate/PDF/cert-' + certificate.license + '.pdf'"> -->
                        <img :src="'certificate/thumbs/cert-' + certificate.license + '.jpg'" class="img-fluid mb-3" :alt="'Certificate ' + certificate.name" />
                        <br>
                        <b>Name:</b> <strong class="m-2 pb-2">{{ certificate.name }}</strong>
                        <br>
                        <b>Date:</b> <strong class="m-2 pb-2">{{ certificate.date }}</strong>
                        <br>
                        <b>License:</b> <strong class="m-2 pb-2">{{ certificate.license }}</strong>
                        <br>
                        <b>Link:</b> <strong class="m-2 pb-2"><a :href="certificate.link">{{ certificate.link }}</a></strong>
                        <br>
                        <b>Download:</b> <a :href="'certificate/PDF/cert-' + certificate.license + '.pdf'">PDF</a> | <a :href="'certificate/cert-' + certificate.license + '.png'">IMG</a>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="all ml-5">
                        <b>All certificates: </b>{{ certificates.length }}
                    </div>
                    <div class="first">
                        <b>Date of receipt of the first certificate:</b> 08 Sep 2018
                    </div>
                </div>
            </div>
        </section>
        <!-- Certificates End -->
        <!-- Materials Begin -->
        <!-- <section id="materials" class="materials pt-5 pb-5">
            <div class="container">
                <h2 class="section-title wow animated pulse mb-5">Additional materials</h2>
                <div class="row justify-content-center mb-3">
                    <div class="material mr-sm-3 mr-0 mb-3 col-sm-5 col-11" v-for="(material, index) of materials">
                        <b>Section:</b><strong class="m-3 pb-2">{{ material.sectionTitle }}</strong>
                        <br>
                        <a :href="material.url1"><strong class="m-2 pb-2">{{ material.urlName1 }}</strong></a>
                        <br>
                        <a :href="material.url2"><strong class="m-2 pb-2">{{ material.urlName2 }}</strong></a>
                        <br>
                        <a :href="material.url3"><strong class="m-2 pb-2">{{ material.urlName3 }}</strong></a>
                        <br>
                        <a :href="material.url4"><strong class="m-2 pb-2">{{ material.urlName4 }}</strong></a>
                        <br>
                        <a :href="material.url5"><strong class="m-2 pb-2">{{ material.urlName5 }}</strong></a>
                        <br>
                        <a :href="material.url6"><strong class="m-2 pb-2">{{ material.urlName6 }}</strong></a>
                        <br>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Materials End -->
        <!-- Contact Begin -->
        <section v-if="show" id="contact" class="contact pt-5 pb-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="title wow bounceInRight" style="color: #242937 !important;">My Contact</h2>
                    <h2 class="subtitle" style="color: #F8F8F8 !important;">Contact</h2>
                </div>
                <div class="w-100"></div>
                <div class="row justify-content-center">
                    <div class="text mb-5">
                        Currently available for contract or full-time work,
                        <br class="hidden-xs-down">
                        and would love to hear from you
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="text contactInfo col-md-5 col-sm-5 col-xs-12 mb-5" v-for="(aboutMe, index) of abouts">
                        <strong class="pb-2">{{ aboutMe.fullname }}</strong><br>
                        <strong class="pb-2"><a :href="'mailto:' + aboutMe.email">{{ aboutMe.email }}</a></strong><br>
                        skype: <strong class="pb-2">{{ aboutMe.skype }}</strong><br>
                        <strong class="pb-2"><a :href="'tel:' + aboutMe.phone">{{ aboutMe.phone }}</a></strong><br>
                        <!-- <strong class="pb-2">{{ aboutMe.mobile }}</strong><br> -->
                        location: <strong class="pb-2">{{ aboutMe.location }}</strong><br>
                        nationality: <strong class="pb-2">{{ aboutMe.nationality }}</strong><br>
                        <strong class="pb-2"><a :href="'http://' + aboutMe.github">Github</a></strong>
                        <span> / </span>
                        <strong class="pb-2"><a :href="'http://' + aboutMe.linkedin">LinkedIn</a></strong>
                        <span> / </span>
                        <strong class="pb-2"><a :href="'http://' + aboutMe.facebook">Facebook</a></strong>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <form id="contact-form" class="form" method="post" action="index.html">
                            <input type="text" name="foo" style="display: none;">
                            <div class="form__control">
                                <input class="form__input" type="text" id="name" name="name" placeholder="Your name">
                                <label class="form__label">
                                    <svg class="form__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <g fill="#FFF">
                                            <path d="M8.518 11.45h.146c-.04-.032-.08-.065-.114-.1-1.157-1.043-2.038-3.074-2.038-4.714 0-2.322 1.9-3.848 3.697-3.848 1.795 0 3.6 1.65 3.6 3.972 0 1.64-.976 3.608-2.187 4.616.248.947 1.607 1.257 4.41 2.025 3.113.854 2.575 2.97 2.566 4.388H1.8c-.01-1.418-.78-3.534 2.332-4.387 2.725-.75 4.082-1.062 4.386-1.95z"></path>
                                            <path d="M8.663 11.45h-.145l.03-.1c.035.038.075.068.115.1z"></path>
                                        </g>
                                    </svg>
                                </label>
                            </div>
                            <div class="form__control">
                                <input class="form__input" type="email" id="email" name="email" placeholder="Your email">
                                <label class="form__label">
                                    <svg class="form__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <g fill="#FFF">
                                            <path d="M10.267 12.27c-.093.094-.22.145-.352.145s-.26-.055-.355-.145L3.048 5.755C3.028 5.835 3 5.912 3 6v8c0 .552.447 1 1 1h12c.554 0 1-.447 1-1V6c0-.138-.023-.27-.076-.387l-6.657 6.657z"></path>
                                            <path d="M9.915 11.208l6.187-6.188c-.038-.003-.065-.02-.1-.02H4c-.086 0-.164.03-.245.048l6.16 6.16z"></path>
                                        </g>
                                    </svg>
                                </label>
                            </div>
                            <div class="form__control">
                                <textarea class="form__textarea" id="message" name="message" placeholder="Your message"></textarea>
                                <label class="form__label">
                                    <svg class="form__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <g fill="#FFF">
                                            <path d="M2.99 17l4.18-1.124-3.06-3.057M15.043 8.02l-7.497 7.498-3.073-3.072 7.497-7.5zM15.653 3.46c-.61-.613-1.57-.613-2.182 0L12.33 4.6l3.08 3.08 1.143-1.142c.61-.61.61-1.57 0-2.182l-.897-.897z"></path>
                                        </g>
                                    </svg>
                                </label>
                            </div>
                            <div class="row row-xs-center">
                                <div class="col-xs-7 col-md-9">
                                    <small class="form__error"></small>
                                </div>
                                <div class="col-xs-5 col-md-12">
                                    <button class="form__submit btn text pull-xs-right" id="sendEmail"><i class="far fa-paper-plane"></i>Send email</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact End -->
        <!--  Footer Begin  -->
        <footer class="footer pt-5">
            <div class="container pt-5 mt-3">
                <div class="row justify-content-around">
                    <div id="menu" class="left col-12 col-md-4 pt-5 p-3 mb-5">
                        <strong class="main-subtitle"><b class="heading-title">Portfolio</b><br>Menu</strong>
                        <div class="menu">
                            <ul>
                                <li v-for="(menu, index) of menus">
                                    <a :href="menu.url">
                                        <strong style="color: #fff;" class="m-2">{{ menu.name }}</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="links" class="center col-12 col-md-4 pt-5 p-3 mb-5">
                        <strong class="main-subtitle"><b class="heading-title">For developers</b><br>Links</strong>
                        <div class="link">
                            <ul>
                                <li v-for="(link, index) of links">
                                    <a :href="link.url">
                                        <strong style="color: #fff;" class="m-2">{{ link.name }}</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="contacts" class="right col-12 col-md-4 pt-5 p-3 mb-5">
                        <strong class="main-subtitle"><b class="heading-title">My Feedbacks</b><br>Contacts</strong>
                        <div class="contacts">
                            <ul>
                                <li v-for="(contact, index) of contacts">
                                    <i :class="contact.icon"></i>
                                    <a :href="contact.url">
                                        <strong style="color: #fff;" class="m-2">{{ contact.name }}</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div id="map">My map will go here</div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="section-title mt-5 pt-5">
                        <h2 class="title wow bounceInRight">On social media</h2>
                        <h2 class="subtitle">social media</h2>
                    </div>
                    <div class="mt-3 pt-3 mb-5 pb-5">
                        <a class="social-icon mr-3" v-for="(social, index) of socials" :href="social.url" target="_blank">
                            <i :class="social.icon"></i>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="copyright text pt-4 pb-3 mt-3">
                        ©&nbsp;Copyright&nbsp;2018&nbsp;-&nbsp;<span class="copyrightYear"></span>
                        &nbsp;<a :href="'https://' + about.site" class="link">{{ about.fullname }}</a>
                        <p class="w-100 mb-3"></p>
                        <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
                            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Правильний CSS!" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!--  Footer End  -->
    </div>
    <!--  Roman Matviy End  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <!-- VueJS -->
    <script src="js/vue.js"></script>
    <!-- WOW Animated -->
    <script src="js/wow.min.js"></script>
    <!-- Main Java Script -->
    <script src="js/main.js"></script>
    <!-- Animated Headline -->
    <script src="js/animated-headline.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDLVfUDe3mgO5zuGojTYlQ8h_ik7Y0rRs&callback=initMap"></script>
    <!-- Moderniz -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</body>

</html>